@model IEnumerable<TheNew1.Models.Book>
@{
    ViewData["Title"] = "Home page";
}

<!DOCTYPE html>
<html lang="vi" class="h-100">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Nền tảng - Kiến thức cơ bản về WEB | Bảng tin</title>

    <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="vendor/font-awesome/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="assets/css/app.css" type="text/css">
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark sticky-top bg-dark">
        <div class="container">
            <div class="navbar-collapse collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="Home">Trang chủ <span class="sr-only"></span></a>
                    </li>
                </ul>
                <form asp-controller="Book" asp-action="Home">
                    <p>
                        Name of the Book: <input type="text" name="SearchString" />
                        <input type="submit" value="Search" />
                    </p>
                </form>
            </div>
        </div>
    </nav>
    <main role="main">
        <section class="jumbotron text-center">
            <div class="container">
                <h1 class="jumbotron-heading">Danh sách Sản phẩm</h1>
            </div>
        </section>
        <div class="danhsachsanpham py-5 bg-light">
            @foreach (var item in Model)
            {
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <tr>
                            <td>
                                    <div class="card mb-4 shadow-sm">
                                <td>
                                    <img src="~/images/@item.Picture" height="200" width="200"
                                     asp-append-version="true" />
                                </td>
                                <div class="card-body">
                                    <a>
                                        <h5>@Html.DisplayFor(modelItem => item.Name)</h5>
                                    </a>
                                    <h6>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a asp-action="Details" asp-route-id="@item.Id">Xem chi tiết</a>
                                    </div>
                                    <small class="text-muted text-right">
                                        <a>PRICE:</a>
                                <td>@Html.DisplayFor(modelItem => item.Price)</td>
                                </small>
                        </div>
                    </div>
                </div>                      
                            </td>
                        </tr>
                    </div>
                </div>
            </div>
            }
        </div>
    </main>
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/popperjs/popper.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/app.js"></script>
</body>

</html>
